body {
    overflow: hidden;
}
.background {
    background:linear-gradient(45deg, rgb(25,25,26) 0%, rgb(102, 102, 102) 50%, rgb(26, 26, 26) 100%);
    background-size: 400% 400%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation-name: shifting-gradient;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes shifting-gradient {
    0% {
        background-position:0% 0%;
    }
    25% {
        background-position:100% 0%;
    }
    50% { 
        background-position:0% 100%;
    }
}
html,body {
    margin:0;
    padding:0;
}

.animation-box {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.item {
    overflow: hidden;
    display: block;
    background-color: rgb(41, 41, 41);
    position: absolute;
    content: "";
    animation-name: box-background;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    z-index: 0;
    bottom: 120%;
    opacity: 30%;
}

.item:nth-child(1) {
    left: 50%;
    width: 7em;
    height: 7em;
    animation-delay: 1s;
}
.item:nth-child(2) {
    left: 30%;
    width: 10em;
    height: 10em;
    animation-delay: 9s;

}
.item:nth-child(3) {
    left: 70%;
    width: 5em;
    height: 5em;
    animation-delay: 3s;
}
.item:nth-child(4) {
    left: 90%;
    width: 2em;
    height: 2em;
    animation-delay: 4s;

}
.item:nth-child(5) {
    left: 70%;
    width: 6em;
    height: 6em;
    animation-delay: 8s;

}

.item:nth-child(6) {
    left: 22%;
    width: 8em;
    height: 8em;
    animation-delay: 2s;

}
.item:nth-child(7) {
    left: 5%;
    width: 7em;
    height: 7em;
    animation-delay: 7s;

}
.item:nth-child(8) {
    left: 15%;
    width: 3em;
    height: 3em;
    animation-delay: 5s;

}
.item:nth-child(9) {
    left: 66%;
    width: 6em;
    height: 6em;
    animation-delay: 1.5s;

}
.item:nth-child(10) {
    left: 90%;
    width: 9em;
    height: 9em;
    animation-delay: 7.5s;

}

@keyframes box-background {
    0% {
        bottom: -20%;
        transform: rotate(0deg);
        box-shadow:  -12px -12px 12px 0 rgba(58, 58, 58, 0.3),12px 12px 12px 0 rgba(0,0,0,.2), inset  0px 0px 0px 0 rgba(58, 58, 58, 0.3), inset 0px 0px 0px 0 rgba(0,0,0,.2);
        border-radius: 10%;
    }
    25% {
        border-radius: 50%;
    }
    50% {
        box-shadow: 0px 0px 0px 0 rgba(58, 58, 58, 0.3), 0px 0px 0px 0 rgba(0,0,0,.2), inset  -12px -12px 12px 0 rgba(58, 58, 58, 0.3), inset 12px 12px 12px 0 rgba(0,0,0,.2);
        border-radius: 10%;
    }
    100% {
        bottom:120%;
        transform: rotate(720deg);
        box-shadow:  -12px -12px 12px 0 rgba(58, 58, 58, 0.3),12px 12px 12px 0 rgba(0,0,0,.2), inset  0px 0px 0px 0 rgba(58, 58, 58, 0.3), inset 0px 0px 0px 0 rgba(0,0,0,.2);
    }
}

