.temp {
    z-index: 1;
    font-family: "Noto sans mono", monospace;
    position: absolute;
    left: 13%;
    top: 30%;
}

.temp-2 {
    z-index: 1;
    font-family: "Noto sans mono", monospace;
    position: absolute;
    left: 13%;
    top: 40%;
}