.wtd-container {
    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top:0;
    rotate: 180deg;
}

.wtd-wave-1 {
    z-index: 2;
    position: absolute;
    top: -55%;
    height: 100%;
    width: 100%;
    
}

.wtd-wave-1-bg {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 200%;
    top: 50%;
    background-color: #e7008a;
    animation: wave-1-up 1s ease-in-out;
}

.wtd-wave-2 {
    z-index: 3;
    position: absolute;
    top: -55%;
    height: 100%;
    width: 100%;
}

.wtd-wave-2-bg {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 200%;
    top: 0%;
    background-color: #0099ff;
    animation: wave-2-up 1s ease-in-out;
}

.wtd-wave-3 {
    z-index: 4;
    position: absolute;
    top: -55%;
    height: 100%;
    width: 100%;
}

.wtd-wave-3-bg {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 200%;
    top: 0%;
    background-color: #262626;
    animation: wave-3-up 1s ease-in-out;
}

@keyframes wave-1-down {
    0% {
        top: -100%;
    }
    30%{
        top: 150%;
    }
    100% {
        top: 150%;
    }
}

@keyframes wave-2-down {
    0% {
        top: -100%;
    }
    20%{
        top: -100%;
    }
    60% {
        top: 150%;
    }
    100% {
        top: 150%;
    }
}

@keyframes wave-3-down {
    0% {
        top:-100%;
    }
    50% {
        top: -100%;
    }
    100% {
        top: 150%;
    }
}